<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_post_comment_path(@post, @comment) %> |
  <%= link_to "Back to all posts", posts_path %>
</div>
  <br>
<div>
  <%= button_to "Destroy this comment", post_comment_path, method: :delete %>
</div>
