<p style="color: green"><%= notice %></p>

<%= render @post %>
<% if current_user == @post.user %>
  <div>
  <%= button_to "Edit this post", edit_post_path(@post) %>
  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
<% end %>

<br>
<div>
<%= link_to "New post", new_post_path %> |
<%= link_to "Back to all posts", posts_path %> |
<%= link_to "Back to home", root_path %>
</div>
