<p style="color: green"><%= notice %></p>

<%= render @post %>
<br>
<% if current_user == @post.user %>
<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to all posts", posts_path %> |
  <%= link_to "Back to home", root_path %>
  <div>
    <br>
  </div>
  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
<% end %>
